*   {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    align-items: center;
}

/* Navigation */

.nav-container {
    background: rgba(0, 0, 0, 0.64);
    backdrop-filter: blur(20px);
    height: 80px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
}

nav {
display: flex;
align-items: center;
justify-content: space-between;
height: 72px;
align-content: center;
}

nav ul {
    display: flex;

}

nav .logo {
    width: 48px;
    height: 48px;
}


.nav-items li {
    list-style: none;
    margin-right: 100px;
    align-content: center;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #FFFFFF;
    font-size: 16px;
    font-family:'Poppins';
    text-decoration: none;
}

/*Header */

.header-container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 36.46%, rgba(0, 0, 0, 0.58) 80.21%, #000000 100%), url(images/Hero\ Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    height: 760px;
    align-items: center;

}

.header-container {
    display:flex ;
    align-items: center;
    justify-content: space-between;
}

.hero-content h1 {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 55px;
    line-height: 100%; 
    margin-bottom: 24px ;
}

.hero-content p {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    width: 392px;
    margin-bottom: 48px ;
}

.hero-content h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #FFFF00;
    flex: none;
    order: 1;
    align-self: stretch;
}


.hero-content a {
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    background: #FFFF00;
    border-radius: 64px;
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
    width: 383px;
    height: 49px;
}

.hero-content a:hover {
    transform: translateY(-8px) ;
}

/* Hidden Items */

.search-box {
    display: none;
}

/* About section */

.about-content {
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
}

.about-content h2{
    margin-bottom: 40px;
    margin: top 20px; ;
}

.about-content p{
    margin-bottom: 20px;
}

.about-content ul{
    margin-bottom: 200px;
}

/* Pictures */

.picture-container{
    background:  url(images/Group\ 39.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 680px;
    align-items: center;
}
.picture-container picture1{
    position: absolute;
    left: 222px;
    top: 1620px;
    border-radius: 10px;
    margin-top: 400px;
    align-items: center;
    margin-bottom: 400px;
}

.picture-container2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 36.46%, rgba(0, 0, 0, 0.58) 80.21%, #000000 100%), url(images/weare433.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    height: 760px;
    align-items: center;

}


/* About You section */

.aboutyou-content {
    margin-top: 200px;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    margin-bottom: 200px;
}

.aboutyou-content h2 {
    margin-bottom: 20px;

}

.aboutyou-content p{
    margin-bottom: 20px;

}

/* 433 Perks section */

.perks-content {
    align-items: center;
    align-content: center;
    color: #FFFFFF;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: auto;
}



/* 433 Perks section */

.technology-content {
    margin-top: 200px;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    margin-bottom: 200px;
}

.picture-container5 {
    background:  url(images/perks.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 480px;
    align-items: center;

}

/*Footer */

footer {
    margin-top: 100px;
    padding-bottom: 30px;
    color: #FFFFFF;
}

footer a{
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 32px 0;
}

.footer-container ul{
    margin-top: 24px;
    padding: 0;
    list-style: none;
    
}

.footer-container ul li{
    margin-top: 16px 0;

}

.footer-container .footer-social {
    margin: 30px 0 24px;
}

.footer-container .footer-social a{
    text-decoration: none;
    margin: 0 10px;
}

.footer-container .footer-nav ul{
    color: #FFFFFF;
}

/* progress bar section */

.progressbar{
    counter-reset: step;
    margin-top: 40px;
    align-content: center;
    display: flow-root;
}

.progressbar li{
    list-style-type:none ;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    color: #ddd;
    border-color: yellow;
    
}

.progressbar li:before{
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

.progressbar li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    top: 15px;
    left: -50%;
    z-index: -1;

}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active{
    color: #FFFF00;
}


.progressbar li:before{
    border-color: yellow;
}
/* Form section */

.form-container {
    margin-bottom: 200px;
}
.form-title{
    margin-top: 40px;
    font-weight: 800;
    font-size: 30px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.form-finish{
    margin-top: 200px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 30px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.form-finish p{
    font-size: 20px;
    font-weight: 200;
}

.picture-container4 {
    background:  url(images/IMAGE.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 360px;
    align-items: center;
    margin-top: auto;

}

label{
display: block;
margin-bottom: 0.5rem;
}


input{
align-items: center;
flex-direction: row;
display: flex;
width: 100%;
padding: 0.75rem;
border: 1px solid #404040;
border-radius: 64px;
color: #000000;

}



.form {
    width: clamp(320px, 30%,430px);
    padding: 1.5rem;
    color: #FFFFFF;
    align-content: center;
    margin-left: auto;
    margin-right: auto
}

.form-stepactive{
    margin-top: 150px;
    margin-bottom: 50px;
    align-items: center;
   
}

.input-group{
    margin: 2rem0;
}

.btn {
    margin-top: 24px;
    padding: 0.75rem;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 64px;
    cursor: pointer;
    align-content:center ;
}

 .btn-finish{
    padding: 0.75rem;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 64px;
    cursor: pointer;
    align-content:center ;
    background-color: #FFFF00;
}

.btn-first .btn-next {
    margin-top: 24px;
    padding: 0.75rem;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 64px;
    cursor: pointer;
    align-content:center ;
    background-color: #FFFF00;
}

.btn .next{
    color: #000000;
    border-radius: 64px;
    margin-top: 24px;
    padding: 0.75rem;
    text-decoration: none;
    display: inline-block;
    background-color: #FFFF00;
}

.btn .back{
    
    color: #000000;
    border-radius: 64px;
    margin-top: 24px;
    padding: 0.75rem;
    text-decoration: none;
    display: inline-block;
    background-color: #FFFF00;
}


.upload-container{
    align-content: center;
    margin-left: 550px;
    margin-top: 150px;
    margin-bottom: 0px;
    align-items: center;
}

.upload_hide {
    width: 100%;
    height: 100%;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: 0;
}

.upload_label {
    align-items: center;
    max-width: 800px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    margin: 20px !important;
    border: 2px dashed #FFFF00;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 8px;
   
}

.choose_file {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #FFFF00;
    color: black;
    border-radius: 26px;
    margin: 30px auto;
    pointer-events: none;
}


.drag_text {
   color: #FFFF00;
    font-size: 22px;
    margin: 30px 0 0 0;
}

.image > img {
    padding: 40px;
    width: 80%;
    height: auto;
    position: absolute;
    left: 10%;
    top: 0;
}

