*   {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    align-items: center;
}

/* Navigation */

.nav-container {
    background: rgba(0, 0, 0, 0.64);
    
    height: 80px;
}

.wrapper {
   margin: 0 auto;
   width:100%;
   padding-left: 3rem;
   
}

.wrapper1{
    margin: 0 auto;
   padding-left: 3rem;
   margin-left: 80px;
   padding-right: 3rem;
   margin-right: 80px;
   line-height: 2;
}

nav {
display: flex;
align-items: center;
justify-content: space-between;
height: 72px;
align-content: center;
padding: 20px 30px ;
}

nav ul {
    display: flex;
    width: 50%;

}

nav .logo {
    width: 48px;
    height: 48px;
}


.nav-items li {
    list-style: none;
    margin-right: 100px;
    align-content: center;
 
  
}


.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;

}

.burgermenu{
margin: 0;
padding: 0;
font-family: "Poppins";
box-sizing: border-box;
position: absolute;
display: none;
width: 100%;
}

.wrapperburger{
    margin: 0 auto;
    position: absolute;
    right: 0;
    margin-right: 1rem;
  
}

.containerburger{
    float: right;
    height: 25px;
    width: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menulogo{
    height: 3px;
    width: 30px;
    background-color: #ddd;
}

.menuburger{
    background-color: yellow;
    width: 50%;
    height: 100vh;
    padding: 50px;
    list-style: none;
    color: #000000;
    font-size: 20px;
    text-align: center;
    transform: translateX(-500px);
    transition: 0.5s ;
}

.menuburger li{
    padding: 30px 0;
    text-decoration: none;
}

.showmenuburger{
    transform: translateX(0);
}

.menuburger li:last-child{
    border-bottom: none;
}

.menuburger li:first-child a{
    font-weight: bold;
}

.menuburger li a{
    font-family: "Poppins", sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    transition: font-wight 0.2s;
}

.menuburger li a:hover{
    font-weight: bold;
}

@media screen and (min-width:1000px){
    .menuburger{
        width: 500px;
    }   
}

@media screen and (max-width:600px){
    .menuburger li a{
        font-size: 16px;
    }
}

/*Header */

.header-container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 36.46%, rgba(0, 0, 0, 0.58) 80.21%, #000000 100%), url(images/Hero\ Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    width:100%;
    align-items: center;

}

.header-container {
    display:flex ;
    align-items: center;
    justify-content: space-between;
}

.hero-content h1 {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 55px;
    line-height: 100%; 
    margin-bottom: 24px ;
}

.hero-content p {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    width: 392px;
    margin-bottom: 48px ;
}

.hero-content h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #FFFF00;
    flex: none;
    order: 1;
    align-self: stretch;
}


.hero-content a {
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    background: #FFFF00;
    border-radius: 64px;
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
    width: 383px;
    height: 49px;
}

.hero-content a:hover {
    transform: translateY(-8px) ;
}

/* Hidden Items */

.search-box {
    display: none;
}

/* About section */

.about-content {
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
}

.about-content h2{
    margin-bottom: 40px;
    margin: top 20px; ;
}

.about-content p{
    margin-bottom: 20px;
}

.about-content ul{
    margin-bottom: 200px;
}

/* Pictures */

.picture-container{
    background:  url(images/Group\ 39.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:750px;
  

}
.picture-container picture1{
    position: absolute;
    left: 222px;
    top: 1620px;
    border-radius: 10px;
    margin-top: 400px;
    align-items: center;
    margin-bottom: 400px;
}

.picture-container2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 36.46%, rgba(0, 0, 0, 0.58) 80.21%, #000000 100%), url(images/weare433.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    width:100%;
    align-items: center;

}


/* About You section */

.aboutyou-content {
    margin-top: 200px;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    margin-bottom: 200px;
}

.aboutyou-content h2 {
    margin-bottom: 20px;

}

.aboutyou-content p{
    margin-bottom: 20px;

}

/* 433 Perks section */

.perks-content {
    align-items: center;
    align-content: center;
    color: #FFFFFF;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: auto;
}



/* 433 Perks section */

.technology-content {
    margin-top: 200px;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    margin-bottom: 200px;
}

.picture-container5 {
    background:  url(images/perks.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 480px;
    align-items: center;

}

.studio{
    color: #ddd;
    display: flex;
    padding: 0 3rem;
    margin: 0 auto;
    padding-left: 3rem;
    margin-left: 80px;
    padding-right: 3rem;
    margin-right: 80px;
}

.studioitem{
    margin: 1rem;
    opacity: 100;
}

.studioitem.left{
    background-image: url(images/PHONE\ 1\ \(2\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 480px;
    align-items: center;
   
}

.studioitem.right{
    background-image: url(images/stadium\ 1\ \(2\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 480px;
    align-items: center;
    
}

/*Footer */

footer {
    margin-top: 100px;
    padding-bottom: 30px;
    color: #FFFFFF;
}

footer a{
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 32px 0;
}

.footer-container ul{
    margin-top: 24px;
    padding: 0;
    list-style: none;
    
}

.footer-container ul li{
    margin-top: 16px 0;

}

.footer-container .footer-social {
    margin: 30px 0 24px;
}

.footer-container .footer-social a{
    text-decoration: none;
    margin: 0 10px;
}

.footer-container .footer-nav a {
    color: #FFFFFF;
}

/* progress bar section */

.progressbar-wrapper{
    width: 100%;
    display:flex;
    justify-content: center;
}

.progressbar{
    counter-reset: step;
    margin-top: 20px;
    align-content: center;
    display: flow-root;
    display: flex;
    align-items: center;
    width: 50%;

}

.line{
    width: 200px;
    height:2px;
    background-color: #FFFF00;

}

.progressbar .progress-item{
    list-style-type:none ;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    color: #ddd;
    border-color: yellow;
    
}

.progressbar .progress-item:before{
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

.progressbar .progress-item:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    top: 15px;
    left: -50%;
    z-index: -1;

}

.progressbar .progress-item:first-child:after{
    content: none;
}

.progressbar .progress-item.active{
    color: #FFFF00;
}


.progressbar .progress-item:before{
    border-color: yellow;
}
/* Form section */

.form-container {
    margin-bottom: 200px;
}
.form-title{
    /* margin-top: 40px;
    font-weight: 800;
    font-size: 30px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-align: center; */
}
.form-title h1{
    color: #FFFFFF;
    text-align: center;
    margin:2rem 0 ;
    width:100%;
    font-size: 60px;

}

.form-title h1, .hero-title h1{
    color: #FFFFFF;
    margin:2rem 0 ;
    width:100%;
    font-size: 60px;

}

.form-finish{
    margin-top: 200px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 30px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.form-finish p{
    font-size: 20px;
    font-weight: 200;
}

.picture-container4 {
    background:  url(images/IMAGE.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    align-items: center;
    width: auto;

}

label{
display: block;
margin-bottom: 0.5rem;
margin: 1rem  0 1rem 0.3rem;
}


input{
margin: 0.5rem 0 ;
align-items: center;
flex-direction: row;
display: flex;
width: 100%;
padding: 0.75rem;
border: 1px solid #404040;
border-radius: 64px;
color: white;
background-color: rgb(175, 175, 175);

}



.form {
    width: clamp(320px, 30%,430px);
    padding: 1.5rem;
    color: #FFFFFF;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
   
}

.form-stepactive{
    margin-top:30px;
    margin-bottom: 50px;
    align-items: center;
    
   
}



.input-group{
    margin: 2rem0;
}

.btn {
    margin-top: 24px;

    text-align: center;
    text-decoration: none;
    border-radius: 64px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}

.btn a{
    width:49%

}

 .btn-finish{
    padding: 0.75rem;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 64px;
    cursor: pointer;
    align-content:center ;
    background-color: #FFFF00;
}

.btn-first .btn-next {
    margin-top: 24px;
    padding: 0.75rem;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 64px;
    cursor: pointer;
    align-content:center ;
    background-color: #FFFF00;
}

.btn .next{
    color: #000000;
    border-radius: 64px;
    margin-top: 24px;
    padding: 0.75rem;
    text-decoration: none;
    display: inline-block;
    background-color: #FFFF00;
}

.btn .back{
    
    color: #000000;
    border-radius: 64px;
    margin-top: 24px;
    padding: 0.75rem;
    text-decoration: none;
    display: inline-block;
    background-color: #FFFF00;
}


.upload-container{
    align-content: center;
    width: 100%;
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
}

.upload_hide {
    width: 100%;
    height: 100%;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: 0;
}

.upload_label {
    align-items: center;
    max-width: 800px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    margin: 20px !important;
    border: 2px dashed #FFFF00;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 8px;
   
}

.choose_file {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #FFFF00;
    color: black;
    border-radius: 26px;
    margin: 30px auto;
    pointer-events: none;
}


.drag_text {
   color: #FFFF00;
    font-size: 22px;
    margin: 30px 0 0 0;
}

.image > img {
    padding: 40px;
    width: 80%;
    height: auto;
    position: absolute;
    left: 10%;
    top: 0;
}




@media (max-width:1000px){
    .burgermenu{
        display:block;
    }
    nav{
        display: none;
    }
}
