*   {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

/* Navigation */

.nav-container {
    background: rgba(0, 0, 0, 0.64);
    backdrop-filter: blur(20px);
    height: 80px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
}

nav {
display: flex;
align-items: center;
justify-content: space-between;
height: 72px;
}

nav ul {
    display: flex;

}

nav .logo {
    width: 48px;
    height: 48px;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Poppins';
    text-decoration: none;
}

/*Header */

.header-container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 36.46%, rgba(0, 0, 0, 0.58) 80.21%, #000000 100%), url(images/Hero\ Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    height: 760px;
    align-items: center;

}

.header-container {
    display:flex ;
    align-items: center;
    justify-content: space-between;
}

.hero-content h1 {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 55px;
    line-height: 100%; 
    margin-bottom: 24px ;
}

.hero-content p {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    width: 392px;
    margin-bottom: 48px ;
}

.hero-content h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #FFFF00;
    flex: none;
    order: 1;
    align-self: stretch;
}


.hero-content a {
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    background: #FFFF00;
    border-radius: 64px;
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
    width: 383px;
    height: 49px;
}

.hero-content a:hover {
    transform: translateY(-8px) ;
}

/* Hidden Items */

.search-box {
    display: none;
}

/* About section */

.about-content {
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
}

.about-content h2{
    margin-bottom: 40px;
    margin: top 20px; ;
}

.about-content p{
    margin-bottom: 20px;
}

.about-content ul{
    margin-bottom: 200px;
}

/* Pictures */

.picture-container{
    background-color: #000000;
}
.picture-container picture1{
    position: absolute;
    left: 222px;
    top: 1620px;
    border-radius: 10px;
    margin-top: 400px;
    align-items: center;
    margin-bottom: 400px;
}

.picture-container2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 36.46%, rgba(0, 0, 0, 0.58) 80.21%, #000000 100%), url(images/weare433.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    height: 760px;
    align-items: center;

}


/* About You section */

.aboutyou-content {
    margin-top: 200px;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    margin-bottom: 200px;
}

.aboutyou-content h2 {
    margin-bottom: 20px;

}

.aboutyou-content p{
    margin-bottom: 20px;

}

/* 433 Perks section */

.perks-content {
    align-items: center;
    color: #FFFFFF;
    margin-top: 200px;
    flex: none;
    margin-bottom: 200px;
}

/* 433 Perks section */

.technology-content {
    margin-top: 200px;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    margin-bottom: 200px;
}